/**
 * Content
 * ----------------------------------------------------------------------------
 */
.post {
  margin-bottom: 1.5em;
  position: relative;
}

.post-header {
  margin-bottom: 1.66667em;
}

.post-title {
  font-size: 2.66667rem;
  margin: 0 0 1.66667rem;

  a {
    border: 0;
    color: inherit;

    &:hover {
      color: _palette(accent);
    }
  }
}

.post-subtitle {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.66667rem;
}

.post-thumbnail {
  margin-bottom: 1.66667em;

  img {
    width: 100%;
  }
}

.post-meta {
  color: _palette(meta);
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 1.66667rem;
  text-transform: uppercase;
}

.project-meta {
  display: flex;
  justify-content: center;
}

.project-meta a.button {
  flex: 1;
  font-size: 12px;
  background: _palette(primary) !important;
  border: 2px solid _palette(primary) !important;
  text-align: center;

  &:hover,
  &:active,
  &:focus {
    box-shadow: none !important;
    background: 0 !important;
  }
}

.project-meta a.button.disabled {
  background: _palette(meta) !important;
  color: #e2e2e2;
  border: 2px solid _palette(meta) !important;
}
.project-meta a.button.disabled:hover {
  cursor: default;
  color: #e2e2e2;
  background: _palette(meta) !important;
  border: 2px solid _palette(meta) !important;
}

/* Post feed */
.post-feed,
.project-feed {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -0.83333em 1.66667em;

  .post,
  .project {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1.66667em;
  }

  .project {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .post-inside {
    border: 1px solid _palette(border);
    border-radius: 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0.833333em;
  }

  .post-thumbnail {
    border: 0;
    border-radius: 5px 5px 0 0;
    display: block;
    margin: 0;
    position: relative;
    width: 100%;

    &:before {
      content: "";
      display: block;
      padding-top: 66.666%;
    }

    img {
      border-radius: 5px 5px 0 0;
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .post-header {
    margin-bottom: 0.83333rem;
    padding: 1.33333rem 1.33333rem 0;
  }

  .post-header + .post-thumbnail {
    padding-top: 0.83333rem;
  }

  .post-title {
    border-bottom: 1px solid _palette(border);
    font-size: 1.33333rem;
    margin: 0;
    padding-bottom: 0.83333rem;
  }

  .post-content {
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1;
    font-size: 14px;
    padding: 0 1.33333rem;
    margin-bottom: 25px;
  }

  .post-meta {
    margin: 0;
    padding: 0 1.33333rem 1.33333rem;
  }
}

@media only screen and (max-width: 1103px) {
  .post-feed,
  .project-feed {
    margin-left: -1.5vw;
    margin-right: -1.5vw;

    .post,
    .project {
      margin-bottom: 3vw;
    }

    .post-inside {
      margin-left: 1.5vw;
      margin-right: 1.5vw;
    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 1103px),
  only screen and (max-width: 600px) {
  .post-feed .post,
  .project-feed .project {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

/* Pagination */
.pagination {
  padding: 0 70px 1.66667em;
  position: relative;
  text-align: center;
}

.page-number {
  color: _palette(meta);
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0.75em 0;
  text-transform: uppercase;
}

.newer-posts,
.older-posts {
  position: absolute;
  top: 0;
}

.older-posts {
  left: 0;
}

.newer-posts {
  right: 0;
}

/* Hero section */
.hero {
  margin-bottom: 2.5em;
}

.hero-title {
  font-size: 2.66667rem;
  margin: 0 0 1rem;
}

.hero-text {
  font-size: 1.33333rem;
  line-height: 1.5;
  margin: 0;
}

/* Content blocks */
.block {
  margin-bottom: 5em;
}

.block.read-next {
  margin-bottom: 3.33333em;
  margin-top: 5em;
}

.block-title {
  color: _palette(secondary);
  font-size: 1rem;
  letter-spacing: 0.11111em;
  margin: 0 0 1.66667rem;
  text-transform: uppercase;
}

.block-thumbnail {
  margin-bottom: 1.66667em;

  img {
    width: 100%;
  }
}

.block-cta .button {
  margin-right: 15px;
}

.project-tag {
  background: _palette(accent);
  font-size: 12px;
  color: #fff;
  margin-right: 10px;
  padding: 3px 12px;
  margin-left: 1em;
  border-radius: 0 0.28571429rem 0.28571429rem 0;
  -webkit-transition: none;
  transition: none;
  position: relative;

  &:before {
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
    top: 50%;
    right: 100%;
    content: "";
    background-color: inherit;
    background-image: none;
    width: 1.56em;
    height: 1.56em;
    -webkit-transition: none;
    transition: none;
    border-radius: 5px;
  }

  &:after {
    position: absolute;
    content: "";
    top: 50%;
    left: -0.25em;
    margin-top: -0.25em;
    background-color: #fff !important;
    width: 0.5em;
    height: 0.5em;
    -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
    border-radius: 500rem;
  }
}

.passion-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 3em;
}

.passion-item {
  text-align: center;
  margin-right: 1vw;
  border: 1px solid #e9ebed;
  border-radius: 3px;
}

.passion-img {
  padding-bottom: 20px;
  min-height: 200px;
}

.passion-item {
  flex: 1 0 21%;
}

.passion-text {
  font-size: 14px;
  padding: 5px;
  border-top: 1px solid #e9ebed;
  margin: 0 10px;
}

.passion-item:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 561px) and (max-width: 1116px) {
  .passion-block {
    justify-content: center;
  }
  .passion-item {
    flex: 0 0 48%;
    margin-bottom: 2vw;
  }
}

@media only screen and (max-width: 560px) {
  .passion-item {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 3em;
  }
}
